*{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

body{
    
    font-size: 1.5rem;
}

input{
    color: grey;
    font-size: 1.0rem;
    width: 20%;
}

.card-grid{
    display:grid;
    gap: 2em;
    grid-template-columns: repeat(12, 1fr);
    overflow: hidden;
}

.card{
    grid-column-end: span 4;
    padding:10px;
    text-align: center;
}

h4{
    padding: 5px;
    text-align: center;
}

.card-grid > .card > img{
    border-radius: 4%;
    width: 15rem;
    height: 20rem;
} 

h3{
    font-size: 50px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


